# Working with CSV Files in Python

- A CSV (Comma-Separated Value) file is a common plain-text format for tabular data
    - Uses the `.csv` extension
    - Part of a larger family of "delimiter-separated" value formats
- The general format is considered a "flat file" (the data is 2-dimensional) with fields (or columns) going across the top and records (or rows) running down. Values for each field for a given record are separated by a delimiter
    - Similar to spreadsheets or database tables
- Delimiters don't have to be commas - other examples include:
    - Tabs (saved as a Tab-Separated Value format using the `.tsv` extension)
    - Semicolons
    - Colons
    - Even the pipe character (`|`)
- If a field contains the delimiter as part of a value, it must be escaped
- Because the file format is so ubiquitous, there's a lot of support with different feature sets for working with CSV (and similar) files

## Examples Using `csv` Module

- Python has a built-in Standard Library `csv` module, no need to install third-party packages
- Good for basic use cases to work with data programmatically
- One caveat: no type conversion on import - all values are strings

In [128]:
import csv

file_path = './csv_example_files/csv_movies.csv'

# Reading a CSV file: quote character isn't " or '
with open(file_path, newline='') as csvfile:
    csv_reader = csv.reader(csvfile, quotechar=';')

    for row in csv_reader:
        print(row, len(row))
#         print(', '.join(row))

['Name', 'Director', 'Stars', 'Year', 'Runtime'] 5
['Night of the Living Dead', 'George A. Romero', "Duane Jones, Judith O'Dea, Karl Hardman", '1968', '96'] 5
['The Exorcist', 'William Friedkin', 'Linda Blair', '1973', '122'] 5
['The Rocky Horror Picture Show', 'Jim Sharman', 'Tim Curry, Susan Sarandon', '1975', '100'] 5
['The Shining', 'Stanley Kubrick', 'Jack Nicholson, Shelley Duvall, Danny Lloyd', '1980', '126'] 5
['Predator', 'John McTiernan', 'Arnold Schwarzenegger, Carl Weathers, Kevin Peter Hall', '1987', '107'] 5
['Pet Sematary', 'Mary Lambert', 'Dale Midkiff, Denise Crosby, Fred Gwynne', '1989', '103'] 5
['Friday the 13th', 'Sean S. Cunningham', 'Betsy Palmer, Adrienne King, Jeannine Taylor', '1980', '95'] 5
['Poltergeist', 'Tobe Hooper', "JoBeth Williams, Heather O'Rourke, Craig T. Nelson", '1982', '114'] 5

In [130]:
runtimes = []

# Collect Runtimes in a list
with open(file_path, newline='') as csvfile:
    csv_reader = csv.reader(csvfile, quotechar=';')    

    for row in csv_reader:
        runtimes.append(row[-1])

runtimes

['Runtime', '96', '122', '100', '126', '107', '103', '95', '114']

In [131]:
# Sort runtime values without converting data types
sorted(runtimes[1:])

['100', '103', '107', '114', '122', '126', '95', '96']

In [132]:
# Scary code example in the 'spirit' of Halloween
# Writing an "ESV" (Emoji-Separated Value) file
with open('./csv_example_files/csv_spookyszn.esv', 'w', newline='') as csvfile:
    csv_writer = csv.writer(csvfile,
                            delimiter='ðŸŽƒ',
                            quotechar=';')
    csv_writer.writerow(['Spookster', 'Abode', 'Catch phrase'])
    csv_writer.writerow(['Ghost', 'Haunted House', 'Boo'])
    csv_writer.writerow(['Witch', 'Enchanted Forest', 'Double double toil and trouble'])
    csv_writer.writerow(['Troll', 'Bridge', 'Answer a riddle or pay the toll'])

The `csv` module also has `DictReader` and `DictWriter` classes to read or write data to or from a dictionary structure.

In [138]:
# Open a CSV format as an OrderedDict
with open(file_path) as csvfile:
    reader = csv.DictReader(csvfile, quotechar=';')
    for row in reader:
        print(row, '\n')

OrderedDict([('Name', 'Night of the Living Dead'), ('Director', 'George A. Romero'), ('Stars', "Duane Jones, Judith O'Dea, Karl Hardman"), ('Year', '1968'), ('Runtime', '96')])

OrderedDict([('Name', 'The Exorcist'), ('Director', 'William Friedkin'), ('Stars', 'Linda Blair'), ('Year', '1973'), ('Runtime', '122')])

OrderedDict([('Name', 'The Rocky Horror Picture Show'), ('Director', 'Jim Sharman'), ('Stars', 'Tim Curry, Susan Sarandon'), ('Year', '1975'), ('Runtime', '100')])

OrderedDict([('Name', 'The Shining'), ('Director', 'Stanley Kubrick'), ('Stars', 'Jack Nicholson, Shelley Duvall, Danny Lloyd'), ('Year', '1980'), ('Runtime', '126')])

OrderedDict([('Name', 'Predator'), ('Director', 'John McTiernan'), ('Stars', 'Arnold Schwarzenegger, Carl Weathers, Kevin Peter Hall'), ('Year', '1987'), ('Runtime', '107')])

OrderedDict([('Name', 'Pet Sematary'), ('Director', 'Mary Lambert'), ('Stars', 'Dale Midkiff, Denise Crosby, Fred Gwynne'), ('Year', '1989'), ('Runtime', '103')])

OrderedDict([('Name', 'Friday the 13th'), ('Director', 'Sean S. Cunningham'), ('Stars', 'Betsy Palmer, Adrienne King, Jeannine Taylor'), ('Year', '1980'), ('Runtime', '95')])

OrderedDict([('Name', 'Poltergeist'), ('Director', 'Tobe Hooper'), ('Stars', "JoBeth Williams, Heather O'Rourke, Craig T. Nelson"), ('Year', '1982'), ('Runtime', '114')])

## Example Using `pandas` Library

- External library that needs to be installed
- Extensive support for importing and exporting different file formats
- Automatic type conversion on import
- Offers a `chunksize` parameter to process large datasets in batches

In [124]:
import pandas as pd

pd.read_csv?

In [139]:
# Import a CSV file into a DataFrame
df = pd.read_csv(file_path, quotechar=';', index_col="Name")
df

,Director,Stars,Year,Runtime
Name,,,,
Night of the Living Dead,George A. Romero,"Duane Jones, Judith O'Dea, Karl Hardman",1968,96
The Exorcist,William Friedkin,Linda Blair,1973,122
The Rocky Horror Picture Show,Jim Sharman,"Tim Curry, Susan Sarandon",1975,100
The Shining,Stanley Kubrick,"Jack Nicholson, Shelley Duvall, Danny Lloyd",1980,126
Predator,John McTiernan,"Arnold Schwarzenegger, Carl Weathers, Kevin Pe...",1987,107
Pet Sematary,Mary Lambert,"Dale Midkiff, Denise Crosby, Fred Gwynne",1989,103
Friday the 13th,Sean S. Cunningham,"Betsy Palmer, Adrienne King, Jeannine Taylor",1980,95
Poltergeist,Tobe Hooper,"JoBeth Williams, Heather O'Rourke, Craig T. Ne...",1982,114

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, Night of the Living Dead to Poltergeist
Data columns (total 4 columns):
Director    8 non-null object
Stars       8 non-null object
Year        8 non-null int64
Runtime     8 non-null int64
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [141]:
# Use chunksize for large datasets
size = 4
reader = pd.read_csv(file_path, quotechar=';', chunksize=size)
for i, chunk in enumerate(reader):
    # process data, etc.
    print(chunk)
    
    header = True
    if i > 0:
        header = False
    
    # Use append mode, otherwise every iteration of a chunk
    # will write over the last one
    chunk.to_csv('./csv_example_files/csv_pd_chunk.csv',
                 index=False,
                 header=header,
                 quotechar=';',
                 mode='a')

                            Name          Director  \
0       Night of the Living Dead  George A. Romero
1                   The Exorcist  William Friedkin
2  The Rocky Horror Picture Show       Jim Sharman
3                    The Shining   Stanley Kubrick

                                         Stars  Year  Runtime
0      Duane Jones, Judith O'Dea, Karl Hardman  1968       96
1                                  Linda Blair  1973      122
2                    Tim Curry, Susan Sarandon  1975      100
3  Jack Nicholson, Shelley Duvall, Danny Lloyd  1980      126
              Name            Director  \
4         Predator      John McTiernan
5     Pet Sematary        Mary Lambert
6  Friday the 13th  Sean S. Cunningham
7      Poltergeist         Tobe Hooper

                                               Stars  Year  Runtime
4  Arnold Schwarzenegger, Carl Weathers, Kevin Pe...  1987      107
5           Dale Midkiff, Denise Crosby, Fred Gwynne  1989      103
6       Betsy Palmer, Adrienne King, Jeannine Taylor  1980       95
7  JoBeth Williams, Heather O'Rourke, Craig T. Ne...  1982      114

In [142]:
df.to_json('./csv_example_files/csv_pd_to_json.json', orient='index')

In [146]:
# Read an Excel file
excel_path = './csv_example_files/fishing_licenses_2019.xlsx'
exl_df = pd.read_excel(excel_path,
                       sheet_name="Page1",
                       header=4,
                       index_col=0)

exl_df.head()

,Paid Fishing License Holders,Resident Fishing Licenses,Non-Resident Fishing Licenses,Total Fishing Licenses,Cost - Resident Fishing Licenses,Cost - Non-Resident Fishing Licenses,Total Cost - Fishing Licenses
State,,,,,,,
AK,469094,288560,418007,706567,5043814,15910856,20954670
AL,642754,535577,129425,665002,5287471,4293804,9581275
AR,488264,473174,192886,666060,4435832,3836349,8272181
AS,0,0,0,0,0,0,0
AZ,430754,356833,73921,430754,8987300,3443943,12431242

## Bonus: Command Line Analysis

If you need quick information about a CSV file, you don't even need Python! You can combine a few standard commands:

- See how many rows are in a file (this will include the header row in the count):

```bash
cat my_file.csv | wc -l
```

- Combine header and data files (if they're saved separately):

```bash
cat my_headers.csv my_data.csv > my_data_headers.csv
```

- Create a (continuous) subset of data - this example assumes a header is in row 1, then takes 100 observations starting at 500:

```bash
head -n 601 my_file.csv | tail -n 100 > rows_501-601.csv
```

- Count unique values in a column - the `-d` option is to specify the delimiter, the `-f` option is which field (or column) to cut, which is the third one in the example:

```bash
cut -d "," -f 3 my_file.csv | sort | uniq -c
```